.top-bar {
  background-color: #00709e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
.logo {
  margin-left: 60px;
  a {
    display: flex;
    align-items: center;
  }
  h1 {
    color: white;
    font-size: 40px;
    font-weight: 800;
    font-family: edu;
  }
}

.signout-btn {
  background-color: white;
  border: 4px solid rgb(38, 177, 170);
  border-radius: 20px;
  box-sizing: border-box;
  width: 120px;
  height: 40px;
  margin-right: 100px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  &:hover {
    background-color: rgb(10, 93, 86);
    border: 4px solid white;
    a {
      color: white;
    }
  }
  a {
    display: block;
    color: rgb(10, 93, 86);
    font-size: 24px;
    font-weight: 500;
    font-family: edu;
    margin: auto;
  }
}
@font-face {
  font-family: edu;
  src: url(/font/EduSABeginner-VariableFont_wght.ttf);
}
