body {
  width: 100vw;
  height: 100vh;
  background-image: url(/pic/wrapper.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  //wrapper設定Flex為了讓form-wrapper雙向致中
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px rbga(0, 0, 0, 0.2);
  padding: 10px 20px;
  .logo {
    display: flex;
    align-items: center;
    gap: 15px;
    h1 {
      color: rgb(10, 93, 86);
      font-size: 40px;
      font-weight: 800;
      font-family: edu;
    }
  }

  nav ul {
    display: flex;
    gap: 40px;
    margin-right: 40px;
    a {
      max-width: 100px;
      font-size: 25px;
      font-family: edu;
      color: white;
      text-decoration: none;
    }
  }
}

.error-wrapper {
  width: 400px;
  height: 400px;
  margin: auto;
  border: 2px black solid;
  border-radius: 30px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 10px rbga(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  display: flex;
  box-sizing: border-box;
  padding: 50px;
}

.error {
  width: 100%;
  display: flex;
  flex-direction: column;
  h3 {
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin: auto;
  }
  a {
    display: block;
    margin: auto;
    color: #037f8c;
    font-size: 24px;
  }
}

// .form-container.signin {
//   display: none;
// }
@font-face {
  font-family: edu;
  src: url(/font/EduSABeginner-VariableFont_wght.ttf);
}
